.Papas_Container {
  min-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.Papas_Container img {
  border-radius: 5%;
  height: 20%;
  transition: 0.5s;
}

.Papas_Container img:hover {
transform: scale(1.2);
  
}

.Papas_ContainerInfo p,
.Papas_ContainerInfo h4 {
  color: rgb(255, 255, 255);
}

.Papas_ContainerInfo h4 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  white-space: nowrap;
    
    
}

.Papas_ContainerInfo p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.794);
}

#PapasColMargin {
  margin-left: 5%;
}

@media (max-width: 550px) {
  #PapasColMargin {
    margin-left: 0%;
  }

  .Papas_Col {
    padding-bottom: 10%;
  }
}
